envtpl==0.6.0
circus==0.15.0
circus-web==1.0.0
boto==2.48.0
botocore==1.12.253
dateutils==0.6.6
numpy==1.14.3
remotecv==2.2.2
opencv-engine==1.0.1
thumbor==6.7.5
tornado-botocore==1.5.0
tc-aws==6.2.15
tc-core==0.4.1
tc-shortener==0.2.2
raven==6.7.0
thumbor-memcached==5.1.0
tc-mongodb==5.1.0
tc-redis==1.0.1
thumbor-cloud-storage==3.0.0
pgmagick==0.7.4
graphicsmagick-engine==0.1.1
cairosvg==1.0.22
opencv-python==4.2.0.32
sentry-sdk==1.0.0
tc_prometheus==0.1.1
rsa==3.4.2
protobuf==3.18.0rc2
